@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#app{
  min-height: 100vh;
  overflow: hidden;
}
body{
  background-color: #1B1D22;
}

.font-manrope{
  font-family: 'Manrope', sans-serif;
}
.container-fluid{
  width: 1208px;
  margin: 0 auto;
}