@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#app{
  min-height: 100vh;
  overflow: hidden;
}
body{
  background-color: #1B1D22;
}

.font-manrope{
  font-family: 'Manrope', sans-serif !important;
}
.container-fluid{
  width: 1208px;
  margin: 0 auto;
}

@media screen and (max-width: 1540px) {
  .container-fluid{
    width: 1008px;
  }
}

@media screen and (max-width: 1250px) {
  .container-fluid{
    width: 908px;
  }
}
@media screen and (max-width: 1000px) {
  .container-fluid{
    width: 708px;
  }
}

@media screen and (max-width: 450px) {
  .container-fluid{
    width: 325px;
  }
}